*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
 .main-container{
  margin-left: 30%;
  box-sizing: border-box;
 
}
.calname{
  color: rgb(46, 211, 211);
  line-height: 50px;
}
#display{
background-color: rgb(172, 163, 163);
border-radius: 20px;

}
#display{
  background-size:5px;
  width: 80%;
  height: 30px;
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.container{
  background-color: rgb(49, 126, 161);
  width: 25%;
  border-radius: 20px;
  height: 350px;
  padding-left: 30px;
  
}
.container{
  background-size: 20%;
}
.btn1{
   padding-top: 18px;
}
.btn2{
   padding-top: 18px;
}
.btn3{
   padding-top: 18px;
}
.btn4{
   padding-top: 18px;
}
.btn1 p button{
   margin-right: 20px;
  width: 25px;
  border-radius: 5px;
  font-size: 25px;
}
.btn2 p button{
  margin-right: 20px;
  width: 25px;
   border-radius: 5px;
  font-size: 25px;
}
.btn3 p button{
  margin-right: 20px;
  width: 25px;
   border-radius: 5px;
  font-size: 25px;
}
.btn4 p button{
  margin-right: 20px;
   width: 25px;
  border-radius: 5px;
  font-size: 25px;
}
.clear{
    padding-top: 25px;
    
}
.clear p button{
font-size: 25px;
 border-radius: 5px;
}
.buttons{
  margin-right: 5%;
} \\It controls all the numbers  btn and clear btn